@page "/Estudiante/Create"
@using DAL
@using Models
@inject NavigationManager navigation
@inject IToastService toast
@inject Contexto context
@inject EstudianteServices estudianteServices

<PageTitle>Crear Estudiante</PageTitle>

<EditForm Model="estudiante" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Nuevo Estudiante</h5>
            </div>

            <div class="card-body">
                @* NombreEstudiante *@
                <div class="mb-3">
                    <label class="form-label"><strong>Nombre del Estudiante</strong></label>
                    <InputText class="form-control" @bind-Value="estudiante.NombreEstudiante" placeholder="Nombre"></InputText>
                    <ValidationMessage For="(() => estudiante.NombreEstudiante)" />
                </div>

                @* EmailEstudiantes *@
                <div class="mb-3">
                    <label class="form-label"><strong>Email</strong></label>
                    <InputText class="form-control" @bind-Value="estudiante.EmailEstudiantes" placeholder="Email"></InputText>
                    <ValidationMessage For="(() => estudiante.EmailEstudiantes)" />
                </div>

                @* Edad *@
                <div class=" mb-3">
                    <label class="form-label"><strong>Edad</strong></label>
                    <InputNumber class="form-control" @bind-Value="estudiante.EdadEstudiantes" placeholder="Edad"></InputNumber>
                    <ValidationMessage For="(() => estudiante.EdadEstudiantes)" />
                </div>
            </div>

            <div class="card-footer text-center">
                <a href="/Estudiantes/Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>

                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public Estudiantes estudiante { get; set; } = new Estudiantes();

    public async Task Guardar()
    {
        if (await estudianteServices.Existe(estudiante.NombreEstudiante, estudiante.EstudiantesId))
        {
            toast.ShowWarning("Ya existe un usuario con ese nombre.");
            return;
        }

        context.Estudiantes.Add(estudiante);
        var guardo = await context.SaveChangesAsync() > 0;

        if (guardo)
        {
            toast.ShowSuccess("¡Guardado con éxito!");
            estudiante = new Estudiantes();
        }
        else
        {
            toast.ShowError("No se pudo guardar.");
        }
    }
}